<header>
  <h1>{{{headerTitle}}}</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/policies">Policies</a></li>
      <li><a href="/claims">Claims</a></li>
    </ul>
  </nav>
</header>
